/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;700;800&family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cairo:wght@500;600;700;800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 8vh;

  /*========== Colors ==========*/
  /* Change favorite color to match images */
  --Pastel-Red-clr: #f2665f;
  --Pale-Violet-clr: #bf99ff;
  --ghost-white-bg-clr: #f9f9fe;
  --Pale-Lavender-clr: #d6d6f7;
  --Onyx-clr: #362b48;
  --white-color: #fff;
  --main-color: #000000;
  --Light-Salmon-Pink-color: #f79e96;

  /*========== Typography ==========*/
  --body-font: 'Ubuntu', sans-serif;
  --title-font: 'Cairo', sans-serif;

  /*========== Font size ==========*/
  --extra-font-size: 3.5rem;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.2rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.88rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-small: 200;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*=============== padding ====================*/
  --small-padding: 0.5rem;
  --normal-padding: 1rem;
  --medium-padding: 1.5rem;
  --big-padding: 2.2rem;
  --extra-padding: 5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --header-height: 10vh;
    --extra-font-size: 7rem;
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.3rem;
    --h2-font-size: 1.9rem;
    --h3-font-size: 1.75rem;
    --normal-font-size: 1.205rem;
    --small-font-size: 1.125rem;
    --smaller-font-size: 0.813rem;
    --extra-padding: 10rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  margin: 0%;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
p {
  line-height: 1.5;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
}

button,
.close-btn,
.open-btn {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.section,
footer {
  padding: 4.5rem 3rem;
  z-index: 9999999999;
}

.btn {
  padding: var(--small-padding) var(--medium-padding);
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background-color: var(--white-color);
  color: var(--main-color);
}
/* color classes */
.main-color {
  background-color: var(--main-color);
}
.Pastel-Red-bg-clr {
  background-color: var(--Pastel-Red-clr);
}
.Pale-Violet-bg-clr {
  background-color: var(--Pale-Violet-clr);
}
.Pale-Violet-clr {
  color: var(--Pale-Violet-clr);
}
.ghost-white-bg-clr {
  background-color: var(--ghost-white-clr);
}
.Pale-Lavender-bg-clr {
  background-color: var(--Pale-Lavender-clr);
}
.Onyx-bg-clr {
  background-color: var(--Onyx-clr);
}
.white-color {
  color: var(--white-color);
}
.Light-Salmon-Pink-bg-color {
  background-color: var(--Light-Salmon-Pink-color);
}
/* font sizes  */
.fs-extra {
  font-size: var(--extra-font-size);
}
.fs-big {
  font-size: var(--biggest-font-size);
}
.fs-h1 {
  font-size: var(--h1-font-size);
}
.fs-h2 {
  font-size: var(--h2-font-size);
}

.fs-h3 {
  font-size: var(--h3-font-size);
}
.fs-normal {
  font-size: var(--normal-font-size);
}
.fs-small {
  font-size: var(--small-font-size);
}
.fs-smaller {
  font-size: var(--smaller-font-size);
}
/* font weight */
.fw-sm {
  font-weight: var(--font-small);
}
.fw-md {
  font-weight: var(--font-medium);
}
.fw-sm-b {
  font-weight: var(--font-semi-bold);
}
.fw-b {
  font-weight: var(--font-bold);
}
.fw-bdr {
  font-weight: var(--font-bolder);
}

/* margins */

.mb-2 {
  margin-bottom: var(--mb-2);
}
.mb-0-5 {
  margin-bottom: var(--mb-0-5);
}
.mb-1 {
  margin-bottom: var(--mb-1);
}
.mb-1-25 {
  margin-bottom: var(--mb-1-5);
}
.mb-1-5 {
  margin-bottom: var(--mb-1-5);
}
.mb-2-5 {
  margin-bottom: var(--mb-2-5);
}

.ml-1 {
  margin-left: 1rem;
}
.rounded-border {
  padding: var(--small-padding);
  border-radius: 70%;
}

/* paddings */
.extra-p {
  padding-top: var(--extra-padding);
  padding-bottom: var(--extra-padding);
}
.pt-big {
  padding-top: var(--big-padding);
}
.pt-medium {
  padding-top: var(--medium-padding);
}

/* positioning and alignment classes */

.container {
  max-width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
.grid-align-center {
  align-items: center;
}

.flex {
  display: flex;
  gap: 1.5rem;
}
.flex-centered {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.space-btw {
  justify-content: space-between;
}

.align-left {
  text-align: left !important;
  margin-left: 0.5rem !important;
}
.align-right {
  text-align: right !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.content-center {
  text-align: center;
}

.media-center {
  margin: var(--mb-0-25) auto;
}

.remove-padding {
  padding: 0%;
}
.hide {
  display: none;
}

/* card classes  */

/*=============== nav & header ===============*/
.header {
  width: 100%;
  justify-content: space-between;
  position: fixed;
  margin: 0;
  padding: var(--normal-padding);
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(0.6rem);
  z-index: var(--z-fixed);
  transition: background 0.5s ease-in-out;
}
.header > * {
  flex-basis: 33%;
}

.logo {
  max-width: 20vw;
  margin-left: 1rem;
}

/*-- NAV --*/
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  transform: translateX(100%);
  transition: 0.5s;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-dropdown {
  display: none;
  position: relative;
}
.product-arrow {
  margin-left: 0.5rem;
  transition: .4s all ease-in-out;
}
.flip-arrow {
  transform: rotate(180deg);
}
.product-dropdown:hover {
  cursor: pointer;
}
.product-dropdown-details {
  display: none;
  flex-direction: column;
  position: absolute;
  left: -2%;
  top: 100%;
  background-color: #bf99ff;
  padding: var(--normal-padding) var(--small-padding);
  border-radius: .5rem;
  transition: all .3s ease-in-out;
}
.show-product-dropdown{
  display: flex;
}

.nav-links {
  text-align: center;
}
.nav-links a,
.product-dropdown {
  word-wrap: none;
  padding: 0 var(--normal-padding);
  font-size: var(--normal-font-size);
  font-weight: var(--font-small);
  color: var(--white-color);
  transition: 0.5s;
}
.nav-links a:hover,
.nav-links a:focus {
  color: rgb(121, 121, 235);
}
.open-btn {
  cursor: pointer;
  float: right;
  width: 1.5rem;
}
.close-btn,
.close-video {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 1.5rem;
  z-index: 9999;
}
.apply-btn {
  background-color: transparent;
  color: var(--ghost-white-bg-clr);
  border: 2px solid var(--ghost-white-bg-clr);
  flex-shrink: 0;
}
.show {
  transform: translateX(0%);
}

/*=============== home-section ===============*/
.home-section {
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--Onyx-clr)
  );
}
.home-header img {
  margin-top: var(--mb-2-5);
  z-index: 0;
}
.home-header {
  position: relative;
  padding: var(--big-padding) var(--medium-padding);
}
.home-section__title {
  max-width: 80vw;
}
.home-section__title, .title-right, .title-left {
  position: absolute;
}
.title-right {
  top: 10%;
  left: -10%;
}
.title-left {
  right: -50%;
  bottom: 10%;
}
/*=============== integrate-section ===============*/
.Integrate-section {
  background-image: linear-gradient(
    to left,
    var(--main-color),
    var(--Onyx-clr)
  );
}
.integrate-section__title {
  max-width: 70vw;
  margin: 0 auto;
  margin-bottom: var(--mb-2-5);
}
.credentials {
  position: relative;
}
.credentials ul {
  padding-left: 1rem;
}
.circles {
  position: absolute;
  top: 0.5rem;
  left: -1rem;
}
.credentials-btns {
  flex-direction: column;
}
.credentials-btns .btn {
  align-self: start;
}
.code img {
  max-width: 80%;
  border-radius: 1rem;
  margin-left: 2vw;
}
/*=============== co-ownership-section ===============*/
.co-content__desc {
  margin-top: 2rem;
}
.co-content__img,
.co-content2__img {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: var(--mb-2-5);
}
.co01 {
  width: 80%;
}
.co02 {
  width: 30%;
  bottom: -40%;
  right: 20%;
}
.co03 {
  width: 30%;
  bottom: -20%;
  left: 5%;
}
.co04 {
  width: 60%;
}
.co05 {
  width: 50%;
  top: -20%;
  right: -5%;
}

.shadow {
  position: absolute;
  background: linear-gradient(
    158.72deg,
    rgba(255, 255, 255, 0.4) 3.01%,
    rgba(255, 255, 255, 0) 103.3%
  );
  filter: drop-shadow(0px 0px 24px rgba(69, 76, 98, 0.15));
  backdrop-filter: blur(40px);
  border-radius: 11.3633px;
  box-shadow: 0 0 24px 0 rgb(69 76 98 / 15%);
}

.buy-btn {
  background-image: linear-gradient(
    to left,
    rgb(10, 245, 92) ,
    rgb(129, 98, 250)
  );
  margin-top: 2rem;
}
.move {
  font-size: var(--h1-font-size);
}
/*=============== features-section ===============*/

.features-cards-container {
  gap: 5vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.feature-card {
  min-width: 70vw;
}
.feature-card__desc {
  flex-direction: column;
  height: 40vh;
  margin-top: 0;
  padding: var(--medium-padding);
  border-radius: 1rem;
}
.featur1-card__desc p {
  padding: 0 var(--small-padding);
}

/*=============== experience-section ===============*/
.expereince-img {
  max-height: 30vh;
}
.expereince-img img {
  height: 100%;
  width: 100%;
}
/*=============== Trust-section ===============*/
/*=============== backers-section ===============*/
.backers__logos {
  flex-direction: column;
}
.backers__logos img {
  margin: 0 auto;
  margin-bottom: var(--mb-1-5);
  max-width: 30vw;
}
/* .cards-indicator {
} */
/*=============== footer ===============*/

/*=============== Responsive ===============*/
@media screen and (min-width: 700px) and (max-width: 900px) {
  :root {
    --medium-padding: 0.8rem;
  }
  .md-2-col {
    grid-template-columns: repeat(2, 1fr);
  }
  .md-3-col {
    grid-template-columns: repeat(3, 1fr);
  }

  /*logo & nav */
  .nav-links a,
  .product-dropdown {
    font-size: var(--h1-font-size);
  }
  .logo {
    max-width: 10vw;
    margin-left: 1rem;
  }
  /*=============== integrate-section ===============*/
  .credentials-btns {
    flex-direction: row;
  }
   /*=============== feature-section ===============*/
   .feature-card__desc {
    height: 20vh;
    flex-direction: row;
    padding: var(--big-padding);
    border-radius: 0 0 1rem 1rem;
  }
  .feature-card__desc p {
    padding: 0 var(--medium-padding);
    border-left: 2px solid #000;
  }
  
  .feature-img {
    width: 100%;
    height: 30vh;
    border-radius: 1rem 1rem 0 0;
    background-size: cover;
  }
  .feature-img01 {
    background-image: url('/assets/media/images/why01.png');
  }
  .feature-img02 {
    background-image: url('/assets/media/images/why02.png');
  }
  .feature-img03 {
    background-image: url('/assets/media/images/why03.png');
  }
  .feature-img04 {
    background-image: url('/assets/media/images/why04.png');
  }
  /*=============== expereince-section ===============*/
  .expereince-img {
    max-height: 50vh;
  }
  /*=============== backers-section ===============*/
  .backers__logos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .backers__logos img {
    min-width: 15vw;
    justify-self: center;
  }

}
@media screen and (min-width: 900px) {
  .lg-2-col {
    grid-template-columns: repeat(2, 1fr);
  }
  .lg-3-col {
    grid-template-columns: repeat(3, 1fr);
  }
  .start-align {
    place-content: center;
  }
  /*=============== NAV ===============*/
  .close-btn,
  .open-btn,
  .nav-btns {
    display: none;
  }
  .nav-bar {
    width: auto;
    height: auto;
    position: relative;
    background-color: transparent;
    backdrop-filter: none;
    transform: none;
    z-index: 0;
  }
  .nav-links {
    position: absolute;
    right: 5%;
    display: flex;
    flex-direction: row;
    gap: var(--small-padding);
    transform: none;
  }
  .product-dropdown {
    display: flex;
    align-items:flex-end;
  }
  .nav-links a,
  .product-dropdown {
    font-size: var(--small-font-size);
  }
  .logo {
    max-width: 8vw;
    margin-left: 1rem;
  }
  /*=============== integrate-section ===============*/

  .integrate-section__title {
    max-width: 50vw;
  }
    .credentials-btns {
      flex-direction: row;
    }
  /*=============== feature-section ===============*/
  .feature-card__desc {
    flex-direction: row;
    padding: var(--big-padding);
    border-radius: 0 0 1rem 1rem;
  }
  .feature-card__desc p {
    padding: 0 var(--big-padding);
    border-left: 2px solid #000;
  }
  
  .feature-img {
    width: 100%;
    height: 50vh;
    border-radius: 1rem 1rem 0 0;
    background-size: cover;
  }
  .feature-img01 {
    background-image: url('../media/images/why01.png');
  }
  .feature-img02 {
    background-image: url('../media/images/why02.png');
  }
  .feature-img03 {
    background-image: url('../media/images/why03.png');
  }
  .feature-img04 {
    background-image: url('../media/images/why04.png');
  }
   /*=============== expereince-section ===============*/
   .expereince-img {
    max-height: 50vh;
  }
  /*=============== backers-section ===============*/
  .backers__logos {
    flex-direction: row;
  }
  /*=============== co-ownership-section ===============*/
  .co-content__img,
.co-content2__img {
  width: 40vw;
  height: auto;
  position: relative;
  margin-bottom: var(--mb-2-5);
  text-align: center;
}
}
